<main class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card w-100 video">
                    <img src="//via.placeholder.com/1920x1080" class="card-img-top" alt="">
                    <div class="card-body">
                        <a href="#"> <i class="float-right fa fa-flag"></i></a>
                        <h1>Minecraft survival games #1</h1>
                        <div class="row">
                            <div class="col-12 social-bar">
                                <i class="fa fa-thumbs-up mr-2"></i> Like
                                <i class="fa fa-thumbs-down mx-2"></i>
                                <i class="fa fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6 viewer-box align-items-stretch">
                        <img src="//via.placeholder.com/1920x1080" class="img-fluid" alt="">
                        <a href="#">Redhead blows over front end styling</a>
                        <br>
                        <span class="author"><i class="fas fa-user-check text-primary"></i> Christiaan Verhoef</span>
                        <br>
                        <span class="viewer-count mr-3">1.1M views</span><span class="likes"><i
                            class="fa fa-thumbs-up"></i> 100%</span>
                    </div>
                    <div class="col-md-6 viewer-box align-items-stretch mb-3">
                        <img src="//via.placeholder.com/1920x1080" class="img-fluid" alt="">
                        <a href="#">Redhead blows over front end styling</a>
                        <br>
                        <span class="author"><i class="fas fa-user-check text-primary"></i> Christiaan Verhoef</span>
                        <br>
                        <span class="viewer-count mr-3">1.1M views</span><span class="likes"><i
                            class="fa fa-thumbs-up"></i> 100%</span>
                    </div>
                    <div class="col-md-6 viewer-box align-items-stretch">
                        <img src="//via.placeholder.com/1920x1080" class="img-fluid" alt="">
                        <a href="#">A beautiful toy enters the class</a>
                        <br>
                        <span class="author"><i class="fas fa-user-check text-primary"></i> VHooft</span>
                        <br>
                        <span class="viewer-count mr-3">1.1M views</span><span class="likes"><i
                            class="fa fa-thumbs-up"></i> 100%</span>
                    </div>
                    <div class="col-md-6 viewer-box align-items-stretch">
                        <img src="//via.placeholder.com/1920x1080" class="img-fluid" alt="">
                        <a href="#">British Broadcasting Corporation</a>
                        <br>
                        <span class="author"><i class="fas fa-user-check text-primary"></i> Mr. Teapot</span>
                        <br>
                        <span class="viewer-count mr-3">1.1M views</span><span class="likes"><i
                            class="fa fa-thumbs-up"></i> 100%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>